@media (max-width:965px) {
    header {
        .encabezado {
            display: flex;
            justify-content: end;

            .encabezado__abrir {
                display: block;
                border: none;

                .abrir__imagen {
                    height: 30px;
                    padding: 1rem;
                    border: none;
                }

                .abrir__imagen.invisible{
                    visibility: hidden;
                }
            }

            .encabezado__menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 85px;
                right: 0;
                margin-top: 0;
                opacity: 0;
                visibility: hidden;

                .menu__listado {
                    flex-direction: column;
                    padding: 0;

                    .listado__items {
                        padding: 0;
                        .items__enlace {
                            font-size: 16px;
                            padding: 1rem;
                        }
                    }
                }
            }

            .encabezado__menu.visible {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}