.pieDePagina {
    .pieDePagina__redes {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        background-color: $colorCabecera;

        .redes__contenedores {
            margin: 0;
            padding: 4px;
            
            .contenedores__enlace {
                &:hover {
                    color: white;
                }
                
                .enlace__imagen {
                    background-color: $colorTextoCabecera;
                    height: 40px;
                    border: 1px solid $colorTextoCabecera;
                    border-radius: 100px;

                    &:hover {
                        transition: 1s;
                    }
                }

                .facebook {
                    @extend .enlace__imagen;

                    &:hover {
                        border: 1px solid blue;
                        background-color: blue;
                    }
                }

                .whatsapp {
                    @extend .enlace__imagen;

                    &:hover {
                        border: 1px solid rgb(78, 161, 23);
                        background-color: rgb(78, 161, 23);
                    }
                }

                .instagram {
                    @extend .enlace__imagen;

                    &:hover {
                        border: 1px solid rgb(192, 42, 160);
                        background-color: rgb(192, 42, 160);
                    }
                }

                .gmail {
                    @extend .enlace__imagen;

                    &:hover {
                        border: 1px solid rgb(255, 72, 0);
                        background-color: rgb(255, 72, 0);
                    }
                }
            }
        }
    }

    .pieDePagina__derechos {
        background-color: $colorFondoPrincipalHover;
        margin: 0;
        color: $colorTextoCabecera;
        text-align: center;
        padding: 0.7rem;

        &:hover {
            color: $colorTextoCabeceraHover;
            transition: 1s;
        }
    }
}