.cuerpo__paginaPrincipal {
    display: flex;
    flex-direction: column;
    background-color: $colorFondoPrincipal;
    
    .contenedor__titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .titulo__paginaPrincipal {
            color: white;
            text-align: center;
            padding: 2rem;
        }
    }

    .contenedor__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;

        .texto__paginaPrincipal {
            color: white;
            text-align: left;
            padding: 0.5rem 2rem;
        }
    }
}