$colorFondo: rgb(6,33,0);
$colorCabecera:rgb(16, 43, 6);
$colorFondoPrincipal:rgb(36, 63, 26);
$colorFondoPrincipalHover: rgb(46,73,36);
$colorTextoCabecera:rgb(206, 169, 91);
$colorTextoCabeceraHover:rgb(216, 179, 101);

$textoEnElPrincipal: Montserrat;
$textoGeneral: Mukta;