* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

html {
  background-color: rgb(6, 33, 0);
}

main {
  min-height: 400px;
}

.cuerpo__paginaPrincipal {
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 63, 26);
}
.cuerpo__paginaPrincipal .contenedor__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cuerpo__paginaPrincipal .contenedor__titulo .titulo__paginaPrincipal {
  color: white;
  text-align: center;
  padding: 2rem;
}
.cuerpo__paginaPrincipal .contenedor__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
.cuerpo__paginaPrincipal .contenedor__texto .texto__paginaPrincipal {
  color: white;
  text-align: left;
  padding: 0.5rem 2rem;
}

header {
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: rgb(16, 43, 6);
}
header .encabezado {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .encabezado .encabezado__contenedorLogos {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 30%;
  justify-content: start;
  padding-left: 5vh;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace .contenedorLogos__logo {
  display: flex;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace .contenedorLogos__texto {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 5px;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace .contenedorLogos__texto .logo__encabezadoImagenTexto {
  height: 70%;
  padding-left: 5px;
}
header .encabezado .encabezado__abrir {
  display: none;
  background-color: rgb(16, 43, 6);
  width: 70%;
  text-align: right;
}
header .encabezado .encabezado__menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  background-color: rgb(16, 43, 6);
}
header .encabezado .encabezado__menu .menu__listado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
  display: none;
  background-color: rgb(16, 43, 6);
}
header .encabezado .encabezado__menu .menu__listado .listado__items {
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: rgb(206, 169, 91);
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace:hover {
  color: rgb(216, 179, 101);
}

@media (max-width: 965px) {
  header .encabezado {
    display: flex;
    justify-content: end;
  }
  header .encabezado .encabezado__abrir {
    display: block;
    border: none;
  }
  header .encabezado .encabezado__abrir .abrir__imagen {
    height: 30px;
    padding: 1rem;
    border: none;
  }
  header .encabezado .encabezado__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 99px;
    right: 0;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
  }
  header .encabezado .encabezado__menu .menu__listado {
    flex-direction: column;
    padding: 0;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
    display: block;
    border: none;
    height: 51px;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar .cerrar__imagen {
    padding: 5px;
    border: 2px solid white;
    border-radius: 90px;
    height: 15px;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items {
    padding: 0;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
    font-size: 16px;
    padding: 1rem;
  }
  header .encabezado .encabezado__menu.visible {
    opacity: 1;
    visibility: visible;
  }
}
.cuerpo__paginaCompras {
  display: flex;
  flex-direction: row;
  background-color: rgb(36, 63, 26);
}
.cuerpo__paginaCompras .paginaCompras__menuLateral {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1rem 0;
}
.cuerpo__paginaCompras .paginaCompras__menuLateral .menuLateral__textoProvisorio {
  display: flex;
  margin-block: 0;
  margin-inline: 0;
  color: greenyellow;
  padding: 1rem;
  text-align: center;
}
.cuerpo__paginaCompras .paginaCompras__contenedorProductos {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
  margin: 0.5rem 0;
}
.cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque .contenedorProductos__ficha {
  color: white;
  background-color: rgb(159, 216, 157);
  border-radius: 10px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 20%;
}
.cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque .contenedorProductos__ficha .ficha__titulo {
  padding: 0.5rem 1rem;
  text-align: center;
}
.cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque .contenedorProductos__ficha .ficha__titulo .titulo__producto {
  font-weight: bold;
  text-shadow: 0 0 10px rgb(16, 43, 6);
}
.cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque .contenedorProductos__ficha .ficha__imagen {
  display: flex;
  margin: 0 1rem 1rem 1rem;
}
.cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque .contenedorProductos__ficha .ficha__imagen .imagen__producto {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque .contenedorProductos__ficha {
    width: auto;
  }
}
.pieDePagina .pieDePagina__redes {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(16, 43, 6);
}
.pieDePagina .pieDePagina__redes .redes__contenedores {
  margin: 0;
  padding: 4px;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace:hover {
  color: white;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .enlace__imagen, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .gmail, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook {
  background-color: rgb(206, 169, 91);
  height: 40px;
  border: 1px solid rgb(206, 169, 91);
  border-radius: 100px;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .enlace__imagen:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .gmail:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook:hover {
  transition: 1s;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook:hover {
  border: 1px solid blue;
  background-color: blue;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp:hover {
  border: 1px solid rgb(78, 161, 23);
  background-color: rgb(78, 161, 23);
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram:hover {
  border: 1px solid rgb(192, 42, 160);
  background-color: rgb(192, 42, 160);
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .gmail:hover {
  border: 1px solid rgb(255, 72, 0);
  background-color: rgb(255, 72, 0);
}
.pieDePagina .pieDePagina__derechos {
  background-color: rgb(46, 73, 36);
  margin: 0;
  color: rgb(206, 169, 91);
  text-align: center;
  padding: 0.7rem;
}
.pieDePagina .pieDePagina__derechos:hover {
  color: rgb(216, 179, 101);
  transition: 1s;
}

/*# sourceMappingURL=styles.css.map */
