* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

html {
  background-color: rgb(6, 33, 0);
}

main {
  min-height: 400px;
}

.mostrar {
  display: block;
}

.cuerpo__paginaPrincipal {
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 63, 26);
}
.cuerpo__paginaPrincipal .contenedor__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cuerpo__paginaPrincipal .contenedor__titulo .titulo__paginaPrincipal {
  color: white;
  text-align: center;
  padding: 2rem;
}
.cuerpo__paginaPrincipal .contenedor__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
.cuerpo__paginaPrincipal .contenedor__texto .texto__paginaPrincipal {
  color: white;
  text-align: left;
  padding: 0.5rem 2rem;
}

header {
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: rgb(16, 43, 6);
}
header .encabezado {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .encabezado .encabezado__contenedorLogos {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 30%;
  justify-content: start;
  padding-left: 5vh;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace .contenedorLogos__logo {
  display: flex;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace .contenedorLogos__texto {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 5px;
}
header .encabezado .encabezado__contenedorLogos .contenedorLogos__enlace .contenedorLogos__texto .logo__encabezadoImagenTexto {
  height: 70%;
  padding-left: 5px;
}
header .encabezado .encabezado__abrir {
  display: none;
  background-color: rgb(16, 43, 6);
  width: 70%;
  text-align: right;
}
header .encabezado .encabezado__menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  background-color: rgb(16, 43, 6);
}
header .encabezado .encabezado__menu .menu__listado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
header .encabezado .encabezado__menu .menu__listado .listado__items {
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: rgb(206, 169, 91);
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace:hover {
  color: rgb(216, 179, 101);
}

@media (max-width: 965px) {
  header .encabezado {
    display: flex;
    justify-content: end;
  }
  header .encabezado .encabezado__abrir {
    display: block;
    border: none;
  }
  header .encabezado .encabezado__abrir .abrir__imagen {
    height: 30px;
    padding: 1rem;
    border: none;
  }
  header .encabezado .encabezado__abrir .abrir__imagen.invisible {
    visibility: hidden;
  }
  header .encabezado .encabezado__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    right: 0;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
  }
  header .encabezado .encabezado__menu .menu__listado {
    flex-direction: column;
    padding: 0;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items {
    padding: 0;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
    font-size: 16px;
    padding: 1rem;
  }
  header .encabezado .encabezado__menu.visible {
    opacity: 1;
    visibility: visible;
  }
}
.cuerpo__paginaCompras {
  display: flex;
  background-color: rgb(36, 63, 26);
  align-items: center;
  justify-content: center;
  min-height: 400px;
  flex-direction: row-reverse;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito {
  display: flex;
  background-color: rgb(46, 73, 36);
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 1rem;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__fichaUsuario {
  display: flex;
  flex-direction: row;
  transition: 2s;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__fichaUsuario .sectorCarrito__usuario {
  display: flex;
  padding: 0.5rem;
  background-color: rgb(6, 33, 0);
  border-radius: 50%;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__fichaUsuario .sectorCarrito__datosUsuario {
  width: auto;
  height: auto;
  padding: 0.5rem;
  background-color: rgb(16, 43, 6);
  opacity: 0.9;
  border: 2px solid black;
  margin: 0.2rem;
  display: none;
  color: rgb(216, 179, 101);
  text-align: start;
  font-size: 12px;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__texto {
  padding: 0.5rem;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__contrasenyaIngresada {
  padding: 0.5rem;
  margin: 0.5rem;
  border-style: none;
  border-radius: 10px;
  border: 5px solid rgb(16, 43, 6);
  background-color: rgb(207, 194, 194);
  text-align: center;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__botonera {
  display: flex;
  flex-direction: row;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__botonera .sectorCarrito__boton {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__botonRegistro {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro {
  display: none;
  flex-direction: column;
  background-color: rgb(26, 53, 16);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 1px solid white;
  align-items: center;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectores, .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorNombre,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorApellido,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorContrasenya,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorMail {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(46, 73, 36);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectores .formularioRegistro__label, .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorNombre .formularioRegistro__label,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorApellido .formularioRegistro__label,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorContrasenya .formularioRegistro__label,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorMail .formularioRegistro__label {
  padding-right: 2rem;
  text-align: left;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectores .formularioRegistro__input, .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorNombre .formularioRegistro__input,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorApellido .formularioRegistro__input,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorContrasenya .formularioRegistro__input,
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorMail .formularioRegistro__input {
  height: 25px;
  width: 250px;
  border-style: none;
  border-radius: 10px;
  border: 5px solid rgb(16, 43, 6);
  background-color: rgb(207, 194, 194);
  text-align: center;
}
.cuerpo__paginaCompras .paginaCompras__sectorCarrito .formularioRegistro__enviar {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  width: 100px;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral {
  display: flex;
  width: 15%;
  flex-direction: column;
  align-self: flex-start;
  padding: 1rem 0;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__botonCierreSesion {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__botonBorrarCarrito {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__contenedorProductosEnCarrito {
  display: flex;
  flex-direction: row;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__contenedorProductosEnCarrito .contenedorProductosEnCarrito__productoEnCarrito {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__contenedorProductosEnCarrito .contenedorProductosEnCarrito__productoEnCarrito .productoEnCarrito__titulo {
  font-size: 10px;
  margin-bottom: 0.2rem;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__contenedorProductosEnCarrito .contenedorProductosEnCarrito__productoEnCarrito .productoEnCarrito__cantidad {
  font-size: 10px;
  margin-bottom: 0.2rem;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__contenedorProductosEnCarrito .contenedorProductosEnCarrito__productoEnCarrito .productoEnCarrito__total {
  font-size: 10px;
  margin-bottom: 0.2rem;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__contenedorProductosEnCarrito .contenedorProductosEnCarrito__productoEnCarrito .productoEnCarrito__precioUnitario {
  font-size: 10px;
  margin-bottom: 0.2rem;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__secciones {
  display: flex;
  color: white;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(16, 43, 6);
  margin: 0.5rem;
  border-radius: 10px;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral .menuLateral__botonRealizarCompra {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 65%;
  flex-wrap: wrap;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor {
  width: 140px;
  background-color: rgb(126, 153, 116);
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid rgb(16, 43, 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor .contenedor__productoTitulo {
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  font-weight: bold;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgb(16, 43, 6);
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor .contenedor__productoPrecio {
  padding: 1rem 0 0.5rem 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor .contenedor__productoComandos {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor .contenedor__productoComandos .productoComandos__cantidadComprada {
  width: 30px;
  height: 30px;
  margin: 0 1rem;
  text-align: center;
  border: 1px rgb(16, 43, 6) solid;
  color: rgb(16, 43, 6);
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor .contenedor__productoComandos .productoComandos__botonera {
  width: 20px;
  height: 20px;
  border-style: none;
  background-color: rgb(46, 73, 36);
  color: white;
  border: 1px rgb(16, 43, 6) solid;
}
.cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__grillaDeProductos .grillaDeProductos__contenedor .contenedor__botonAgregarProducto {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  width: 120px;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra {
  display: none;
  flex-direction: column;
  align-items: center;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__mensajeConfirmacion {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__contenedorDetallesCompra {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__contenedorDetallesCompra .contenedorDetallesCompra__subTotalProducto {
  margin-bottom: 1rem;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__contenedorDetallesCompra .contenedorDetallesCompra__totalCompra {
  margin-top: 2rem;
  background-color: rgb(46, 73, 36);
  padding: 0.5rem;
  border-radius: 10px;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__contenedorDetallesCompra .contenedorProductosEnCarrito__productoEnCarrito {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  flex-wrap: wrap;
  justify-content: center;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__contenedorDetallesCompra .contenedorProductosEnCarrito__productoEnCarrito .productoEnCarrito__cantidad {
  margin: 0 0.5rem;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__contenedorDetallesCompra .contenedorProductosEnCarrito__productoEnCarrito .productoEnCarrito__precioUnitario {
  margin-right: 0.5rem;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__volverCarrito {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__validacion {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginaCompras__cierreCompra .cierreCompra__subtotalCompra {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
}
.cuerpo__paginaCompras .paginasCompras__confirmacionCompra {
  display: none;
  flex-direction: column;
  align-items: center;
}
.cuerpo__paginaCompras .paginasCompras__confirmacionCompra .confirmacionCompra__texto {
  color: white;
  background-color: rgb(6, 33, 0);
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  border: 1px white solid;
}
.cuerpo__paginaCompras .paginasCompras__confirmacionCompra .confirmacionCompra__botonOtraCompra {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}
.cuerpo__paginaCompras .paginasCompras__confirmacionCompra .confirmacionCompra__volverInicio {
  background-color: rgb(6, 33, 0);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-style: none;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  text-decoration: none;
}

@media (max-width: 900px) {
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito {
    width: 100%;
  }
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro {
    width: 80%;
  }
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectores, .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorNombre,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorApellido,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorContrasenya,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorMail {
    flex-direction: column;
  }
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectores .formularioRegistro__label, .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorNombre .formularioRegistro__label,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorApellido .formularioRegistro__label,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorContrasenya .formularioRegistro__label,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorMail .formularioRegistro__label {
    text-align: center;
    padding: 0.5rem 0;
  }
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectores .formularioRegistro__input, .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorNombre .formularioRegistro__input,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorApellido .formularioRegistro__input,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorContrasenya .formularioRegistro__input,
  .cuerpo__paginaCompras .paginaCompras__sectorCarrito .sectorCarrito__formularioRegistro .formularioRegistro__sectorMail .formularioRegistro__input {
    height: 25px;
    width: 150px;
    padding: 0 0.5rem;
  }
  .cuerpo__paginaCompras .paginaCompras__menuDeCompra .menuDeCompra__menuLateral {
    width: 35%;
  }
}
@media (max-width: 700px) {
  .cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__bloque .contenedorProductos__ficha {
    width: auto;
  }
}
@media (max-width: 600px) {
  .cuerpo__paginaCompras .paginaCompras__contenedorProductos {
    flex-direction: column;
    margin: 0;
  }
  .cuerpo__paginaCompras .paginaCompras__contenedorProductos .contenedorProductos__botonesAcceso {
    flex-direction: column;
  }
}
.pieDePagina .pieDePagina__redes {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(16, 43, 6);
}
.pieDePagina .pieDePagina__redes .redes__contenedores {
  margin: 0;
  padding: 4px;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace:hover {
  color: white;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .enlace__imagen, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .gmail, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook {
  background-color: rgb(206, 169, 91);
  height: 40px;
  border: 1px solid rgb(206, 169, 91);
  border-radius: 100px;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .enlace__imagen:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .gmail:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook:hover {
  transition: 1s;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook:hover {
  border: 1px solid blue;
  background-color: blue;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp:hover {
  border: 1px solid rgb(78, 161, 23);
  background-color: rgb(78, 161, 23);
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram:hover {
  border: 1px solid rgb(192, 42, 160);
  background-color: rgb(192, 42, 160);
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .gmail:hover {
  border: 1px solid rgb(255, 72, 0);
  background-color: rgb(255, 72, 0);
}
.pieDePagina .pieDePagina__derechos {
  background-color: rgb(46, 73, 36);
  margin: 0;
  color: rgb(206, 169, 91);
  text-align: center;
  padding: 0.7rem;
}
.pieDePagina .pieDePagina__derechos:hover {
  color: rgb(216, 179, 101);
  transition: 1s;
}

/*# sourceMappingURL=styles.css.map */
